# render.yaml
services:
  - type: web
    name: precious-place-automations 
    env: python
    region: virginia 
    plan: free
    repo: https://github.com/DamienBarnesAutomations/precious-place-automations.git 
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.12 